---
---

p { 
  font-family: Helvetica, sans-serif;
}
body {
  font-family: Helvetica, sans-serif;
}  
p{
  color: black;
}
h1{
  color: dimgray;
}
h2{
  color: dimgray;
}
h3{
  color: dimgray;
}

/* unvisited link */
a:link {
  color: rebeccapurple;
}

/* visited link */
a:visited {
  color: rebeccapurple;
}

/* mouse over link */
a:hover {
  color: rebeccapurple;
}

/* selected link */
a:active {
  color: rebeccapurple;
}
