---
---

@import url('https://fonts.googleapis.com/css?family=Urbanist:wght@300&display=swap');

p { 
  font-family: 'Urbanist', sans-serif;
}
body {
  font-family: 'Urbanist', sans-serif;
}  
p{
  color: black;
}
h1{
  color: dimgray;
}
h2{
  color: dimgray;
}
h3{
  color: dimgray;
}

/* unvisited link */
a:link {
  color: darkslateblue;
}

/* visited link */
a:visited {
  color: darkslateblue;
}

/* mouse over link */
a:hover {
  color: darkslateblue;
}

/* selected link */
a:active {
  color: darkslateblue;
}
