---
---

p{
  color: black;
}
h1{
  color: black;
}
h2{
  color: black;
}
h3{
  color: black;
}

/* unvisited link */
a:link {
  color: slateblue;
}

/* visited link */
a:visited {
  color: slateblue;
}

/* mouse over link */
a:hover {
  color: slateblue;
}

/* selected link */
a:active {
  color: slateblue;
}
